* {
  margin: 0;
  box-sizing: border-box;
}

body {
  --light-grey: #e1e1e6;
  --grey: #c4c4cc;
  height: 100%;
  display: grid;
  justify-content: center;
  color: var(--light-grey);
  font-family: 'Roboto', sans-serif;
}

main {
  text-align: center;
  background: url(images/background.svg);
  width: 375px;
  height: 812px;
}

/* Avatar */
.avatar {
  margin-top: 11.5rem;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}
.avatar > img {
  height: 11.5rem;
  width: 10rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  /* https://bennettfeely.com/clippy/ */
}

/* Nome e github */
h1 {
  margin-top: 1.5rem;
}
.container > span {
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
}
.container > span > a {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--grey);
}

/* Frase */
.container > p {
  margin-top: 2rem;
}

/* Redes sociais */
ul {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 4rem;
  list-style: none;
  padding: 0;
}
